<div>
  <h1>Bem-vindo a tela de administração</h1><hr>

  <div>
    <table class="center">
      <tr>
        <td><a href="/services" class="btn bg-success" style="font-size: 20px; padding: 1cm">Serviços</a></td>
        <td><a href="/user/all" class="btn bg-danger" style="font-size: 20px; padding: 1cm">Usuários</a></td>
        <td><a href="solicitations" class="btn bg-primary" style="font-size: 20px; padding: 1cm">Solicitações</a></td>
        <td><a href="#" class="btn bg-info" style="font-size: 20px; padding: 1cm">Configurações</a></td>
      </tr>
    </table>
  </div>


  <h6 class="text-muted py-5">{{ content }}</h6>
</div>
