<!--<p>delete-user works!</p>-->
<mat-toolbar style="background-color:rgb(0,123,254);">
  <mat-icon>mood_bad</mat-icon>
  <span>ELIMINAR USUÁRIO</span>
</mat-toolbar>

<mat-card style="text-align: center">

  <mat-dialog-content class="dialog">
    <form autocomplete="off">
      <h6 class="h5">Deseja Realmente Eliminar</h6>
      <p>
        <mat-form-field class="form">
          <input class="displayName" matInput disabled [(ngModel)]="user.displayName" type="text" name="displayName">
        </mat-form-field>
      </p>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="buttons">
    <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" style="background-color: rgb(0,123,254);" (click)="delete()">
      ELIMINAR
    </button>
  </mat-dialog-actions>
<!--  <div mat-dialog-actions align="center" class="buttons">-->
<!--    <button class="mat-elevation-z8" color="warn" mat-raised-button mat-dialog-close>Cancelar</button>-->
<!--    <button class="mat-elevation-z8" mat-raised-button [mat-dialog-close]="true"-->
<!--            (click)="delete()"-->
<!--            style="background-color: rgb(189, 135, 19);">Eliminar</button>-->
<!--  </div>-->
</mat-card>

<!--<mat-card style="text-align: center">-->
<!--  <mat-card-header>-->
<!--    <h1>ELIMINAR USUÁRIO</h1>-->
<!--  </mat-card-header>-->

<!--  <mat-card-content>-->
<!--    <form>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>Nome</mat-label>-->
<!--        <input matInput [(ngModel)]="user.displayName" type="text" name="displayName">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>E-mail</mat-label>-->
<!--        <input matInput [(ngModel)]="user.email" type="text" name="email">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>Telefone</mat-label>-->
<!--        <input matInput [(ngModel)]="user.phone" type="text" name="phone">-->
<!--      </mat-form-field>-->

<!--&lt;!&ndash;      <mat-form-field class="form">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Perfil</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-select [(ngModel)]="selectedRole" name="role">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-option *ngFor="let option of roleOptions" [value]="option.value">{{ option.label }}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->


<!--            <mat-form-field class="form">-->
<!--              <mat-label>Perfil</mat-label>-->
<!--              <input matInput [(ngModel)]="selectedRole" type="text" name="role" disabled>-->
<!--            </mat-form-field>-->

<!--      &lt;!&ndash;      <mat-form-field class="form">&ndash;&gt;-->
<!--      &lt;!&ndash;        <mat-label>Perfil</mat-label>&ndash;&gt;-->
<!--      &lt;!&ndash;        <mat-select disabled [(ngModel)]="user.role" name="role">&ndash;&gt;-->
<!--      &lt;!&ndash;          <mat-option [value]="user.role">{{ getRoleName(user.role) }}</mat-option>&ndash;&gt;-->
<!--      &lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--      &lt;!&ndash;      </mat-form-field>&ndash;&gt;-->


<!--    </form>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <div class="buttons">-->
<!--      <button class="mat-elevation-z8" mat-stroked-button color="primary" (click)="deleteService()">ELIMINAR</button>-->
<!--      <button mat-raised-button color="primary" (click)="close()">Fechar</button>-->
<!--    </div>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
