<mat-card style="text-align: center">
  <mat-card-header>
    <mat-icon>face</mat-icon>
    Serviço
  </mat-card-header>

  <img
    class="foto"
    mat-car-image
    src="data:image/jpg;base64,{{ services.photo }}"
   alt="img"/>

  <mat-card-content>
    <p>
      <strong>{{ services.name }}</strong> <br />
      <strong>{{ services.description }}</strong><br />
      <strong>{{ services.price }}</strong><br />
      <strong>{{ services.solicitations }}</strong>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="close()">Fechar</button>
  </mat-card-actions>
</mat-card>

<!--<form>-->
<!--  <h1>ADICIONAR SERVIÇOS</h1>-->


<!--  <mat-form-field class="form">-->
<!--    <mat-label>Nome</mat-label>-->
<!--    <input matInput [(ngModel)]="servicing.name" type="text" name="name" placeholder="Ex. Computação" required>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="form">-->
<!--    <mat-label>Descrição</mat-label>-->
<!--    <textarea matInput [(ngModel)]="servicing.description" type="text" name="description" placeholder="Ex. Sistema de Gestão Comercial" required></textarea>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="form">-->
<!--    <mat-label>Preço</mat-label>-->
<!--    <input matInput [(ngModel)]="servicing.price" type="text" name="price" placeholder="Ex. 250.000.00" required>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="form">-->
<!--    <mat-label>Image</mat-label>-->
<!--    <input matInput [(ngModel)]="servicing.images" type="text" name="images" placeholder="Select a image">-->
<!--  </mat-form-field>-->

<!--&lt;!&ndash;  <mat-form-field class="form">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-label>Solicitação</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input matInput [(ngModel)]="servicing.solicitations" type="text" name="solicitation" placeholder="Type of solicitation">&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-form-field class="form">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-label>Data de Registro</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input matInput [matDatepicker]="picker" [(ngModel)]="service.dateRegistration" name="dateRegistration" placeholder="Escolha uma data">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-datepicker #picker></mat-datepicker>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-form-field>&ndash;&gt;-->


<!--  <div class="buttons">-->
<!--    <button (click)="createService()" class="mat-elevation-z8" mat-stroked-button color="primary">ADICIONAR</button>-->
<!--    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>-->

<!--  </div>-->
<!--</form>-->

