<!--<mat-card style="text-align: center">-->
<!--  <mat-card-header>-->
<!--    <mat-icon>face</mat-icon>-->
<!--    Contato-->
<!--  </mat-card-header>-->

<!--  <img-->
<!--    class="foto"-->
<!--    mat-car-image-->
<!--    src="data:image/jpg;base64,{{ services.photo }}"-->
<!--  />-->

<!--  <mat-card-content>-->
<!--    <p>-->
<!--      <strong>{{ services.name }}</strong> <br />-->
<!--      <strong>{{ services.description }}</strong>-->
<!--      <strong>{{ services.price }}</strong>-->
<!--      <strong>{{ services.solicitations }}</strong>-->
<!--    </p>-->
<!--  </mat-card-content>-->

<!--  <mat-card-actions>-->
<!--    <button mat-raised-button color="primary" (click)="close()">Fechar</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->

<!--&lt;!&ndash;<pre>{{ service | json }}</pre>&ndash;&gt;-->
<mat-toolbar style="background-color:rgb(0,123,253);">
  <mat-icon> insert_emoticon</mat-icon>
  <span>EDITAR SERVIÇOS</span>
</mat-toolbar>

<mat-card>

  <mat-dialog-content class="dialog">
    <form autocomplete="off">
      <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="servicing.name" type="text" name="name">
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Preço</mat-label>
        <input matInput [(ngModel)]="servicing.price" type="text" name="price">
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="servicing.description" type="text" name="description"></textarea>
      </mat-form-field>

      <!--  <mat-form-field class="form">-->
      <!--    <mat-label>Imangem</mat-label>-->
      <!--    <textarea matInput [(ngModel)]="servicing.images" type="text" name="images"></textarea>-->
      <!--  </mat-form-field>-->

      <!--  <mat-form-field class="form">-->
      <!--    <mat-label>Solicitação</mat-label>-->
      <!--    <textarea matInput [(ngModel)]="servicing.solicitations" type="text" name="solicitations"></textarea>-->
      <!--  </mat-form-field>-->

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center" class="buttons">
    <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" style="background-color: rgb(0,123,254);" (click)="update()">Editar</button>
  </mat-dialog-actions>
</mat-card>
