<mat-toolbar style="background-color:rgb(0,123,253);">
  <mat-icon> sentiment_very_dissatisfied </mat-icon>
  <span>ELIMINAR SERVIÇO</span>
</mat-toolbar>

<mat-card style="text-align: center">

  <form autocomplete="off">
    <img class="foto" alt="img" mat-card-image [src]="imageData"/>

    <h6 class="h5">Deseja Realmente Eliminar</h6>
    <p>
      <mat-form-field class="form">
        <input class="displayName" matInput disabled [(ngModel)]="services.name" type="text" name="displayName">
      </mat-form-field>
    </p>
  </form>

<!--  <mat-dialog-content class="dialog">-->
<!--    <h6 class="h5">Deseja Realmente Eliminar</h6>-->
<!--    <p>-->
<!--      <strong>{{ services.name }}</strong> <br />-->
<!--    </p>-->
<!--  </mat-dialog-content>-->

  <mat-dialog-actions align="center" class="buttons">
    <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" style="background-color: rgb(0,123,254);" (click)="delete()">
      ELIMINAR
    </button>
  </mat-dialog-actions>

</mat-card>


<!--<mat-card style="text-align: center">-->
<!--  <mat-card-header>-->
<!--    <h1>DELETAR SERVIÇO</h1>-->
<!--  </mat-card-header>-->

<!--  <mat-card-content>-->
<!--    <form>-->

<!--      &lt;!&ndash;  <mat-form-field class="form">&ndash;&gt;-->
<!--      &lt;!&ndash;    <mat-label>ID</mat-label>&ndash;&gt;-->
<!--      &lt;!&ndash;    <input matInput [(ngModel)]="service.id" type="text" name="id">&ndash;&gt;-->
<!--      &lt;!&ndash;  </mat-form-field>&ndash;&gt;-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>Nome</mat-label>-->
<!--        <input matInput [(ngModel)]="servicing.name" type="text" name="name">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>Preço</mat-label>-->
<!--        <input matInput [(ngModel)]="servicing.price" type="text" name="price">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>Descrição</mat-label>-->
<!--        <textarea matInput [(ngModel)]="servicing.description" type="text" name="description"></textarea>-->
<!--      </mat-form-field>-->

<!--      &lt;!&ndash;  <mat-form-field class="form">&ndash;&gt;-->
<!--      &lt;!&ndash;    <mat-label>Imangem</mat-label>&ndash;&gt;-->
<!--      &lt;!&ndash;    <textarea matInput [(ngModel)]="servicing.images" type="text" name="images"></textarea>&ndash;&gt;-->
<!--      &lt;!&ndash;  </mat-form-field>&ndash;&gt;-->

<!--      &lt;!&ndash;  <mat-form-field class="form">&ndash;&gt;-->
<!--      &lt;!&ndash;    <mat-label>Solicitação</mat-label>&ndash;&gt;-->
<!--      &lt;!&ndash;    <textarea matInput [(ngModel)]="servicing.solicitations" type="text" name="solicitations"></textarea>&ndash;&gt;-->
<!--      &lt;!&ndash;  </mat-form-field>&ndash;&gt;-->

<!--    </form>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <div class="buttons">-->
<!--      <button (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary">ELIMINAR</button>-->
<!--      &lt;!&ndash;    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>&ndash;&gt;-->
<!--      <button mat-raised-button color="primary" (click)="close()">Fechar</button>-->
<!--    </div>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
