<mat-toolbar style="background-color:rgb(0,123,254);">
  <mat-icon>sentiment_very_dissatisfied</mat-icon>
  <span>ELIMINAR SOLICITAÇÃO</span>
</mat-toolbar>

<mat-card style="text-align: center">

  <mat-dialog-content class="dialog">
    <form autocomplete="off">
        <mat-form-field class="form">
          <mat-label>NOME</mat-label>
          <input matInput disabled [(ngModel)]="user.displayName" type="text" name="displayName">
        </mat-form-field>

        <mat-form-field class="form">
          <mat-label>E-MAIL</mat-label>
          <input matInput [(ngModel)]="user.email" type="text" name="email">
        </mat-form-field>

        <mat-form-field class="form">
          <mat-label>TELEFONE</mat-label>
          <input matInput [(ngModel)]="user.phone" type="text" name="phone">
        </mat-form-field>

        <mat-form-field class="form">
          <mat-label>PERFIL</mat-label>
                  <mat-select [(ngModel)]="selectedRole" name="role">
                    <mat-option *ngFor="let option of roleOptions" [value]="option.value">{{ option.label }}</mat-option>
                  </mat-select>
        </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="buttons">
    <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" style="background-color: rgb(0,123,254);" (click)="update()">Editar</button>
  </mat-dialog-actions>
</mat-card>


  <!--<mat-card style="text-align: center">-->
<!--  <mat-card-header>-->
<!--    <h1>ATUALIZAR USUÁRIO</h1>-->
<!--  </mat-card-header>-->

<!--  <mat-card-content>-->
<!--    <form>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>Nome</mat-label>-->
<!--        <input matInput [(ngModel)]="user.displayName" type="text" name="displayName">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>E-mail</mat-label>-->
<!--        <input matInput [(ngModel)]="user.email" type="text" name="email">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>Telefone</mat-label>-->
<!--        <input matInput [(ngModel)]="user.phone" type="text" name="phone">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="form">-->
<!--        <mat-label>Perfil</mat-label>-->
<!--        <mat-select [(ngModel)]="selectedRole" name="role">-->
<!--          <mat-option *ngFor="let option of roleOptions" [value]="option.value">{{ option.label }}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->


<!--      &lt;!&ndash;      <mat-form-field class="form">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Perfil</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput [(ngModel)]="selectedRole" type="text" name="role" disabled>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field class="form">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Perfil</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-select disabled [(ngModel)]="user.role" name="role">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-option [value]="user.role">{{ getRoleName(user.role) }}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->


<!--    </form>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <div class="buttons">-->
<!--      <button class="mat-elevation-z8" mat-stroked-button color="primary" (click)="updateService()">ATUALIZAR</button>-->
<!--      <button mat-raised-button color="primary" (click)="close()">Fechar</button>-->
<!--    </div>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
