<mat-toolbar class="search-container">
  <div class="search-container">
    <mat-icon>table_chart</mat-icon>
    <h1 class="toolbar-title">SERVIÇOS</h1>
  </div>
</mat-toolbar>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>list</mat-icon>
      Todos
    </ng-template>
    <mat-card>
      <table mat-table [dataSource]="service" class="full-width">
        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef>Imagem</th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="row.photo">
              <img
                width="50"
                height="50"
                src="data:image/jpg;base64,{{ row.photo }}"
                              (click)="serviceDetails(row.id)"
               alt="img"/>
            </div>
            <div *ngIf="!row.photo">
              <input
                type="file"
                name="photo"
                (change)="uploadFoto($event, row)"
              />
            </div>
          </td>
        </ng-container>

        <!--        <ng-container matColumnDef="id">-->
        <!--          <th mat-header-cell *matHeaderCellDef>ID</th>-->
        <!--          <td mat-cell *matCellDef="let row">{{ row.id }}</td>-->
        <!--        </ng-container>-->

        <ng-container matColumnDef="name">
          <th id="name" mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th id="description" mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th id="price" mat-header-cell *matHeaderCellDef>Preço</th>
          <td mat-cell *matCellDef="let row">{{ row.price }}</td>
        </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                    <th class="mat-header" mat-header-cell *matHeaderCellDef> AÇÕES </th>
                    <td mat-cell *matCellDef="let row">
<!--                        <a class="edit" routerLink="/edit-servicing/{{ row.id }}">-->
                        <a class="edit" (click)="update(row.id)">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="delete" (click)="delete(row.id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataSource"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource"></tr>
      </table>

      <mat-paginator
        [length]="totalElements"
        [pageSize]="pageNumber"
        [pageSizeOptions]="pageSizeOptions"
        (page)="paging($event)"
      >
      </mat-paginator>
    </mat-card>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>library_add</mat-icon>
      Novo
    </ng-template>

    <mat-card class="half-width">
      <mat-card-title>NOVO SERVIÇO</mat-card-title>

            <form [formGroup]="form" (ngSubmit)="submit(form.controls['name'].value, form.controls['description'].value, form.controls['price'].value)">
        <mat-form-field class="full-width">
          <mat-label>Nome:</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Digite o nome do serviço"
          />
        </mat-form-field>
        <div
          *ngIf="
            form.controls.name.errors &&
            !form.controls.name.pristine
          " >
          <div *ngIf="form.controls.name.errors.required">
            Campo nome é obrigatório.
          </div>
        </div>

        <mat-form-field class="full-width">
          <mat-label>Description:</mat-label>
          <input
            formControlName="description"
            matInput
            placeholder="Digite a descrição"
          />
        </mat-form-field>
        <div
          *ngIf="
            form.controls.description.errors &&
            !form.controls.description.pristine
          " >
          <div *ngIf="form.controls.description.errors.required">
            Campo descrição é obrigatório.
          </div>
        </div>

        <mat-form-field class="full-width">
          <mat-label>Price:</mat-label>
          <input
            formControlName="price"
            matInput
            placeholder="Digite a price"
          />
        </mat-form-field>
        <div
          *ngIf="
            form.controls.price.errors &&
            !form.controls.price.pristine
          " >
          <div *ngIf="form.controls.price.errors.required">
            Campo price é obrigatório.
          </div>
        </div>

        <button
          [disabled]="!form.valid"
          mat-raised-button
          color="primary"
        >
          Adicionar
        </button>
      </form>
    </mat-card>
  </mat-tab>
</mat-tab-group>
