<div class="main-container">
  <header>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/assets/img/Sinyelela,Lda.%20LOGO.jpg" width="100" alt="Alexandre">
        </a>

        <button class="navbar-toggler" type="button" (click)="toggleMenu()" [ngClass]="{'expanded': isMenuExpanded}">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="nav-principal" [ngStyle]="{'display': isMenuExpanded ? 'block' : 'none'}">
        <ul class="navbar-nav ml-auto" routerLinkActive="active">
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">
              <mat-icon>home</mat-icon> Home
            </a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link" routerLink="admin">
              <mat-icon>supervisor_account</mat-icon> Administrator
            </a>
          </li>
          <li class="nav-item" *ngIf="showModeratorBoard">
            <a href="/mod" class="nav-link" routerLink="mod">
              <mat-icon>supervised_user_circle</mat-icon> Moderator
            </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="/user" class="nav-link" routerLink="user">
              <mat-icon>perm_identity</mat-icon> User
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="btn btn-outline-light ml-4" routerLink="register">SignUp</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="btn btn-outline-light ml-4" routerLink="login">Login</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">@{{ username }}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light ml-4" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container-fluid bg-light">
    <!-- Código do conteúdo aqui -->
    <router-outlet></router-outlet>
  </div>

  <footer class="mt-4 mb-4 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-white">
            &copy; 2023, Amadeu Alexandre Solution Tecnology - Todos os diretos reservados
          </p>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <ul class="social-list">
            <li>
              <a href="#" class="btn btn-outline-dark">
                <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-outline-dark ml-2">
                <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-outline-dark ml-2">
                <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<!--<div class="main-container">-->
<!--<header>-->
<!--  <nav class="navbar navbar-expand-sm navbar-light">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" href="/">-->
<!--        <img src="/assets/img/Sinyelela,Lda.%20LOGO.jpg" width="100" alt="Alexandre">-->
<!--      </a>-->

<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-principal">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--    </div>-->

<!--    <div class="collapse navbar-collapse" id="nav-principal">-->
<!--      <ul class="navbar-nav ml-auto" routerLinkActive="active">-->
<!--        <li class="nav-item">-->
<!--          <a href="/home" class="nav-link" routerLink="home">-->
<!--            <mat-icon>home</mat-icon> Home-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item" *ngIf="showAdminBoard">-->
<!--          <a href="/admin" class="nav-link" routerLink="admin">-->
<!--            <mat-icon>supervisor_account</mat-icon> Administrator-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item" *ngIf="showModeratorBoard">-->
<!--          <a href="/mod" class="nav-link" routerLink="mod">-->
<!--            <mat-icon>supervised_user_circle</mat-icon> Moderator-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item" *ngIf="isLoggedIn">-->
<!--          <a href="/user" class="nav-link" routerLink="user">-->
<!--            <mat-icon>perm_identity</mat-icon> User-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">-->
<!--        <li class="nav-item">-->
<!--          <a href="/register" class="btn btn-outline-light ml-4" routerLink="register">SignUp</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="/login" class="btn btn-outline-light ml-4" routerLink="login">Login</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">-->
<!--        <li class="nav-item">-->
<!--          <a href="/profile" class="nav-link" routerLink="profile">@{{ username }}</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="btn btn-outline-light ml-4" (click)="logout()">LogOut</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->

<!--<div class="container-fluid bg-light">-->
<!--  &lt;!&ndash;  <a *ngIf="!(isAuthenticated.getUser() | async)?.isLoggedIn">Please log in to manage&ndash;&gt;-->
<!--  &lt;!&ndash;    your Solicitation.</a>&ndash;&gt;-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<!--<footer class="mt-4 mb-4 fixed-bottom">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-8">-->
<!--        <p class="text-white">-->
<!--          &copy; 2023, Amadeu Alexandre Solution Tecnology - Todos os diretos reservados-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-md-4 d-flex justify-content-end">-->
<!--        <ul class="social-list">-->
<!--          <li>-->
<!--            <a href="#" class="btn btn-outline-dark">-->
<!--              <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#" class="btn btn-outline-dark ml-2">-->
<!--              <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#" class="btn btn-outline-dark ml-2">-->
<!--              <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
<!--</div>-->
